Backup Workflows.json
{"updatedAt":"2026-02-07T02:56:10.948Z","createdAt":"2026-02-07T00:52:50.401Z","id":"WdbUVJpMfQbGk3li","name":"Backup Workflows","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"operation":"get","workflowId":{"__rl":true,"value":"={{ $json.workflow_id }}","mode":"id"},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[224,0],"id":"87c8e419-c905-45ac-8940-497f993a6626","name":"Obtiene el id del workflow a procesar","credentials":{"n8nApi":{"id":"H49ufuNBu7fvVMX7","name":"N8n Executions"}}},{"parameters":{"events":["update","activate"]},"type":"n8n-nodes-base.n8nTrigger","typeVersion":1,"position":[-176,0],"id":"770b7b2a-0072-4ae2-b545-e77a587c53f4","name":"Trae los workflows actualizados y nuevos","retryOnFail":true},{"parameters":{"operation":"toJson","mode":"each","options":{"encoding":"utf8","fileName":"={{ $json.name }}_{{ $today.format('yyyy-MM-dd_HHmm') }}.json"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[480,0],"id":"233c936f-d068-4f1e-b60c-a117a14b7cf9","name":"Convierte a JSON flujo automatico"},{"parameters":{"chatId":"171634162","text":"=Se acualiz贸 el workflow \"{{ $('Obtiene el id del workflow a procesar').item.json.name }}\". Qued贸 subido a github.","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1488,-16],"id":"df062a97-b711-4096-ba43-4a1a98801c64","name":"Aviso finaliza backup autoamtico","webhookId":"a9080ae1-9145-40dd-9a38-6c309b802c0a","credentials":{"telegramApi":{"id":"JSd08XaYJKkzgykm","name":"MoyakpoBot"}}},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"get","owner":{"__rl":true,"value":"moyakpo","mode":"list","cachedResultName":"moyakpo","cachedResultUrl":"https://github.com/moyakpo"},"repository":{"__rl":true,"value":"n8n-backup","mode":"list","cachedResultName":"n8n-backup","cachedResultUrl":"https://github.com/moyakpo/n8n-backup"},"filePath":"={{ $('Obtiene el id del workflow a procesar').item.json.name }}.json","additionalParameters":{}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[688,0],"id":"8d6f4632-9c20-4770-8b6c-ff209d1f9dab","name":"Get a file","webhookId":"07adc6cf-09a1-4cf1-9d6c-67752e365266","alwaysOutputData":true,"credentials":{"githubOAuth2Api":{"id":"mflN1ltPGMZE9EnX","name":"GitHub account"}},"onError":"continueRegularOutput"},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"edit","owner":{"__rl":true,"value":"moyakpo","mode":"list","cachedResultName":"moyakpo","cachedResultUrl":"https://github.com/moyakpo"},"repository":{"__rl":true,"value":"n8n-backup","mode":"list","cachedResultName":"n8n-backup","cachedResultUrl":"https://github.com/moyakpo/n8n-backup"},"filePath":"={{ $('Obtiene el id del workflow a procesar').item.json.name }}.json","binaryData":true,"binaryPropertyName":"={{ $('Convierte a JSON flujo automatico').item.binary.data }}","commitMessage":"=UPDATE WORKFLOW - {{ $('Obtiene el id del workflow a procesar').item.json.name }}-{{ $('Obtiene el id del workflow a procesar').item.json.updatedAt }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[1248,-16],"id":"24e67f50-e92a-487d-abfb-a536b0152d52","name":"Edit a file","webhookId":"3015f4d3-af3a-4beb-b61b-4238ef3455f1","credentials":{"githubOAuth2Api":{"id":"mflN1ltPGMZE9EnX","name":"GitHub account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"89a886e8-0f25-40e4-b65e-2a6ec143e1c7","leftValue":"={{ $('Get a file').item.binary}}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[912,0],"id":"dc0ce9dd-68da-4ee9-b612-d90cac469bf9","name":"If"},{"parameters":{"authentication":"oAuth2","resource":"file","owner":{"__rl":true,"value":"moyakpo","mode":"list","cachedResultName":"moyakpo","cachedResultUrl":"https://github.com/moyakpo"},"repository":{"__rl":true,"value":"n8n-backup","mode":"list","cachedResultName":"n8n-backup","cachedResultUrl":"https://github.com/moyakpo/n8n-backup"},"filePath":"={{ $('Convierte a JSON flujo automatico').item.binary.data.fileName }}.{{ $('Convierte a JSON flujo automatico').item.binary.data.fileExtension }}","binaryData":true,"binaryPropertyName":"={{ $('Convierte a JSON flujo automatico').item.binary.data }}","commitMessage":"=CREATE WORKFLOW - {{ $('Obtiene el id del workflow a procesar').item.json.name }}-{{ $('Obtiene el id del workflow a procesar').item.json.updatedAt }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[1264,176],"id":"e5470ae8-d9bb-428e-86a2-ab5fc925fde2","name":"Create a file","webhookId":"d38179bc-97cb-4c7f-8bfe-d52a9afe65d0","credentials":{"githubOAuth2Api":{"id":"mflN1ltPGMZE9EnX","name":"GitHub account"}}},{"parameters":{"events":["update"]},"type":"n8n-nodes-base.n8nTrigger","typeVersion":1,"position":[-176,-128],"id":"042c32ff-11fc-4483-a420-a5646e38097a","name":"n8n Trigger"}],"connections":{"Obtiene el id del workflow a procesar":{"main":[[{"node":"Convierte a JSON flujo automatico","type":"main","index":0}]]},"Trae los workflows actualizados y nuevos":{"main":[[{"node":"Obtiene el id del workflow a procesar","type":"main","index":0}]]},"Convierte a JSON flujo automatico":{"main":[[{"node":"Get a file","type":"main","index":0}]]},"Get a file":{"main":[[{"node":"If","type":"main","index":0}]]},"Edit a file":{"main":[[{"node":"Aviso finaliza backup autoamtico","type":"main","index":0}]]},"If":{"main":[[{"node":"Edit a file","type":"main","index":0}],[{"node":"Create a file","type":"main","index":0}]]},"Create a file":{"main":[[{"node":"Aviso finaliza backup autoamtico","type":"main","index":0}]]},"n8n Trigger":{"main":[[{"node":"Obtiene el id del workflow a procesar","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"6fde05e1-5539-4393-b5a6-204910827f11","activeVersionId":"6fde05e1-5539-4393-b5a6-204910827f11","versionCounter":25,"triggerCount":2,"shared":[{"updatedAt":"2026-02-07T00:52:50.406Z","createdAt":"2026-02-07T00:52:50.406Z","role":"workflow:owner","workflowId":"WdbUVJpMfQbGk3li","projectId":"sYBcAsfIS1ovnvHV","project":{"updatedAt":"2025-08-15T03:00:17.342Z","createdAt":"2025-08-15T02:57:28.449Z","id":"sYBcAsfIS1ovnvHV","name":"Leandro Moyano <moyakpo@gmail.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2025-08-15T02:57:28.449Z","createdAt":"2025-08-15T02:57:28.449Z","userId":"96bba44c-12be-44b7-ada9-cb045e0573ca","projectId":"sYBcAsfIS1ovnvHV","user":{"updatedAt":"2026-02-07T00:31:27.000Z","createdAt":"2025-08-15T02:57:15.336Z","id":"96bba44c-12be-44b7-ada9-cb045e0573ca","email":"moyakpo@gmail.com","firstName":"Leandro","lastName":"Moyano","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-08-15T03:01:01.504Z","personalization_survey_n8n_version":"1.106.3","automationGoalDevops":["ci-cd","monitoring-alerting"],"companyType":"saas","role":"it"},"settings":{"userActivated":true,"firstSuccessfulWorkflowId":"6MdCeOmXmh4mZTFP","userActivatedAt":1767046694360,"npsSurvey":{"waitingForResponse":true,"ignoredCount":2,"lastShownAt":1769917194110},"easyAIWorkflowOnboarded":true},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-02-06","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-02-07T02:56:10.951Z","createdAt":"2026-02-07T02:56:10.951Z","versionId":"6fde05e1-5539-4393-b5a6-204910827f11","workflowId":"WdbUVJpMfQbGk3li","nodes":[{"parameters":{"operation":"get","workflowId":{"__rl":true,"value":"={{ $json.workflow_id }}","mode":"id"},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[224,0],"id":"87c8e419-c905-45ac-8940-497f993a6626","name":"Obtiene el id del workflow a procesar","credentials":{"n8nApi":{"id":"H49ufuNBu7fvVMX7","name":"N8n Executions"}}},{"parameters":{"events":["update","activate"]},"type":"n8n-nodes-base.n8nTrigger","typeVersion":1,"position":[-176,0],"id":"770b7b2a-0072-4ae2-b545-e77a587c53f4","name":"Trae los workflows actualizados y nuevos","retryOnFail":true},{"parameters":{"operation":"toJson","mode":"each","options":{"encoding":"utf8","fileName":"={{ $json.name }}_{{ $today.format('yyyy-MM-dd_HHmm') }}.json"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[480,0],"id":"233c936f-d068-4f1e-b60c-a117a14b7cf9","name":"Convierte a JSON flujo automatico"},{"parameters":{"chatId":"171634162","text":"=Se acualiz贸 el workflow \"{{ $('Obtiene el id del workflow a procesar').item.json.name }}\". Qued贸 subido a github.","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1488,-16],"id":"df062a97-b711-4096-ba43-4a1a98801c64","name":"Aviso finaliza backup autoamtico","webhookId":"a9080ae1-9145-40dd-9a38-6c309b802c0a","credentials":{"telegramApi":{"id":"JSd08XaYJKkzgykm","name":"MoyakpoBot"}}},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"get","owner":{"__rl":true,"value":"moyakpo","mode":"list","cachedResultName":"moyakpo","cachedResultUrl":"https://github.com/moyakpo"},"repository":{"__rl":true,"value":"n8n-backup","mode":"list","cachedResultName":"n8n-backup","cachedResultUrl":"https://github.com/moyakpo/n8n-backup"},"filePath":"={{ $('Obtiene el id del workflow a procesar').item.json.name }}.json","additionalParameters":{}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[688,0],"id":"8d6f4632-9c20-4770-8b6c-ff209d1f9dab","name":"Get a file","webhookId":"07adc6cf-09a1-4cf1-9d6c-67752e365266","alwaysOutputData":true,"credentials":{"githubOAuth2Api":{"id":"mflN1ltPGMZE9EnX","name":"GitHub account"}},"onError":"continueRegularOutput"},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"edit","owner":{"__rl":true,"value":"moyakpo","mode":"list","cachedResultName":"moyakpo","cachedResultUrl":"https://github.com/moyakpo"},"repository":{"__rl":true,"value":"n8n-backup","mode":"list","cachedResultName":"n8n-backup","cachedResultUrl":"https://github.com/moyakpo/n8n-backup"},"filePath":"={{ $('Obtiene el id del workflow a procesar').item.json.name }}.json","binaryData":true,"binaryPropertyName":"={{ $('Convierte a JSON flujo automatico').item.binary.data }}","commitMessage":"=UPDATE WORKFLOW - {{ $('Obtiene el id del workflow a procesar').item.json.name }}-{{ $('Obtiene el id del workflow a procesar').item.json.updatedAt }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[1248,-16],"id":"24e67f50-e92a-487d-abfb-a536b0152d52","name":"Edit a file","webhookId":"3015f4d3-af3a-4beb-b61b-4238ef3455f1","credentials":{"githubOAuth2Api":{"id":"mflN1ltPGMZE9EnX","name":"GitHub account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"89a886e8-0f25-40e4-b65e-2a6ec143e1c7","leftValue":"={{ $('Get a file').item.binary}}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[912,0],"id":"dc0ce9dd-68da-4ee9-b612-d90cac469bf9","name":"If"},{"parameters":{"authentication":"oAuth2","resource":"file","owner":{"__rl":true,"value":"moyakpo","mode":"list","cachedResultName":"moyakpo","cachedResultUrl":"https://github.com/moyakpo"},"repository":{"__rl":true,"value":"n8n-backup","mode":"list","cachedResultName":"n8n-backup","cachedResultUrl":"https://github.com/moyakpo/n8n-backup"},"filePath":"={{ $('Convierte a JSON flujo automatico').item.binary.data.fileName }}.{{ $('Convierte a JSON flujo automatico').item.binary.data.fileExtension }}","binaryData":true,"binaryPropertyName":"={{ $('Convierte a JSON flujo automatico').item.binary.data }}","commitMessage":"=CREATE WORKFLOW - {{ $('Obtiene el id del workflow a procesar').item.json.name }}-{{ $('Obtiene el id del workflow a procesar').item.json.updatedAt }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[1264,176],"id":"e5470ae8-d9bb-428e-86a2-ab5fc925fde2","name":"Create a file","webhookId":"d38179bc-97cb-4c7f-8bfe-d52a9afe65d0","credentials":{"githubOAuth2Api":{"id":"mflN1ltPGMZE9EnX","name":"GitHub account"}}},{"parameters":{"events":["update"]},"type":"n8n-nodes-base.n8nTrigger","typeVersion":1,"position":[-176,-128],"id":"042c32ff-11fc-4483-a420-a5646e38097a","name":"n8n Trigger"}],"connections":{"Obtiene el id del workflow a procesar":{"main":[[{"node":"Convierte a JSON flujo automatico","type":"main","index":0}]]},"Trae los workflows actualizados y nuevos":{"main":[[{"node":"Obtiene el id del workflow a procesar","type":"main","index":0}]]},"Convierte a JSON flujo automatico":{"main":[[{"node":"Get a file","type":"main","index":0}]]},"Get a file":{"main":[[{"node":"If","type":"main","index":0}]]},"Edit a file":{"main":[[{"node":"Aviso finaliza backup autoamtico","type":"main","index":0}]]},"If":{"main":[[{"node":"Edit a file","type":"main","index":0}],[{"node":"Create a file","type":"main","index":0}]]},"Create a file":{"main":[[{"node":"Aviso finaliza backup autoamtico","type":"main","index":0}]]},"n8n Trigger":{"main":[[{"node":"Obtiene el id del workflow a procesar","type":"main","index":0}]]}},"authors":"Leandro Moyano","name":null,"description":null}}